*{
  box-sizing: border-box;
}

body{
  background-color: #274471;
  font-family: Lato;
}

.container{
  width: 400px;
  margin: auto;
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#contactForm{
  padding: 25px;
}

#contactForm input[type="text"], 
input[type="email"], 
input[type="submit"], 
textarea{
width: 100%;
padding: 10px 16px;
margin: 8px 0px;
resize: none;
border-radius: 10px;
border: none;
}

#contactForm input[type="submit"]{
  background-color: #1ac0f3;
  padding: 14px 20px;
  cursor: pointer;
  color: white;
}



#contactForm input[type="submit"]:hover{
  background-color: rgb(175, 101, 175);
}
#contactForm input[type="text"]:hover{
  background-color: wheat;
}
#contactForm input[type="email"]:hover{
  background-color: wheat;
}
textarea:hover{
  background-color: wheat;
}

/* focus border removed below */

#contactForm input[type="submit"]:focus{
  outline: none;
}
#contactForm input[type="text"]:focus{
  outline: none;
}
#contactForm input[type="email"]:focus{
  outline: none;
}
textarea:focus{
  outline: none;
}